svg {
  .svg-circle-progress {
    transform-origin: 50% 50%;
    transition: stroke-dasharray ease .6s;
  }
  .svg-title {
    text-anchor: middle;
    dominant-baseline: middle;
    font: 400 1em 'Roboto', sans-serif;
  }
  .svg-subtitle {
    text-anchor: middle;
    dominant-baseline: middle;
    font: 0.75em 'Roboto', sans-serif;
  }
}
